<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mylibrary" >
    <application>
        <activity android:name="com.example.mylibrary.testModule"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar"></activity>
    </application>
</manifest>